.container
  .jumbotron
    = form_tag do
      .form-group.label-floating
        = label_tag :username
        = text_field_tag :username, nil, class: 'form-control'
        %p.help-block Maybe the only chance to choose something cool
      .form-group.label-floating
        = label_tag :password
        = password_field_tag :password, nil, class: 'form-control'
        %p.help-block
          The password is displayed and transferred in plain text. (of course not)
      = submit_tag 'Login'
