%a.row.list-group-item{href: "/accounts/#{account.id}, pointer: :cursor"}
  .col-md-2.text-left
    %div{style: 'display: inline-block'}
      %i.fa.fa-2x.fa-fw{class: "fa-#{account.name.downcase}"}
    %div{style: 'display: inline-block'}
      = account.name
      .small
        by
        = account.owner.username
  .col-md-8
  .col-md-2.text-right
    %div= account.price
    %small.text-muted
      every
      = account.period / 86400
      days
