%div.container
  %header.jumbotron.hero-spacer
    %h1 
      Tracctor - Track them all!
    %p
      Keep track of your accounts and thoose who are using them!
    %p
      Tracctr currently has
      %b= @user_count
      User with
      %b= @account_count
      Accounts which generated
      %b= @bill_count
      Bills.
    %p
      Also Tracctr helps people to survive and supporting their food orders with
      %b= @one_shot_count
      OneShots including
      %b= @bullet_count
      Bullets.
