.container
  %h2
    .pull-right
      .small.text-muted.text-right
        .small
          owned by
        %strong=@one_shot.owner.username
    %i.fa{class: "fa-#{@one_shot.name.downcase}"}
    = @one_shot.name
  %hr
  .jumbotron
    Basic information such as total price and per member
  %hr
  .row
    %h3 Bullets
    .list-group
      - @bullets.each do |bullet|
        .list-group-item
          .pull-right
            .money.text-right
              = bullet.cost
            .text-muted{'data-toggle': :tooltip, title: bullet.created_at}
              = bullet.created_at.strftime("%e %b %Y")
          = bullet.user.username
          .text-muted
            = bullet.name
  .row
    .col-md-6
    .col-md-6
      = form_for @bullet, class: 'form-inline', turboboost: true do |f|
        .form-group
          = f.label 'name', 'Name'
          = f.text_field 'name', class: 'form-control'
        .form-group
          = f.label 'cost', 'Cost'
          = f.number_field 'cost', class: 'form-control', step: :any
        = f.hidden_field :user_id, value: @cu.id
        = f.hidden_field :one_shot_id, value: @one_shot.id
        = f.button 'New Bullet', class: 'btn btn-success'
